<!-- <p>blog-list works!</p>

<div>child</div>
<app-blog-item></app-blog-item>
<app-blog-item></app-blog-item>
<app-blog-item></app-blog-item> -->

<!-- <div *ngFor="let blog of blogs">
    Title: {{blog.title}}
    Description: {{blog.description}}
</div> -->

<!-- <app-blog-item [blogInput]="blogs[1]"></app-blog-item> -->

<!-- <div *ngFor="let blog of blogs; let i = index">
    <app-blog-item [blogInput]="blog"  (actionEmitter)="executeAction($event, i)"></app-blog-item>
</div> -->

<!-- <div [ngSwitch]="num">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchCase="3">Three</div>
    <div *ngSwitchCase="4">Four</div>
    <div *ngSwitchDefault>None</div>
</div> -->

<!-- <div [ngSwitch]="num">
    <div *ngSwitchCase="num">{{numArrayIndex[num]}}</div>
</div> 

<div [ngSwitch]="num">
    <ng-container *ngFor="let data of numArray">
        <div *ngSwitchCase="data">{{data}}</div>
    </ng-container>
    <div *ngSwitchDefault>None</div>
</div> 
<button (click)="incrementNumber()">Increment Number</button>
 -->

 <!-- <div [ngStyle]="{'width':'100px', 'height':'100px', 'background-color':'red'}">
    Test DIV
 </div> -->

 <!-- <div [ngStyle]="{'width':width, 'height':height, 'background-color':color}">
    Test DIV
 </div>

 <button (click)="changeCss()">Change CSS</button> -->

 <!-- <div *ngFor="let data of blogs">
    <div [ngStyle]="{'background-color': data.published? 'green': 'red'}">
        <app-blog-item [blogInput]="data"></app-blog-item>
    </div>
 </div> -->

 <!-- <div [ngClass]="isCard? 'card': ''">
 <!-- <div [ngClass]="{card:isCard}"> -->
    <!-- Using Class -->
 <!-- </div> -->
 <!-- <button (click)="toggleClass()">Toggle Class</button> -->

 <!-- <div *ngFor="let data of blogs">
    <div [ngClass]="{card:data.published}">
        <app-blog-item [blogInput]="data"></app-blog-item>
    </div>
 </div> -->
 